.page-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  min-height: 825px;
  background-color: $basic-black;
  background-image: url("../img/header-bg-desktop@1x.webp");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header-bg-desktop@2x.webp");
  }

  @media (max-width: $desktop-width) {
    background-color: $basic-white;
    background-image: none;
  }

  &--nojs {
    @media (max-width: $desktop-width) {
      .page-header__description a {
        position: absolute;
        top: 30px;
        left: -5px;
        z-index: 1;
      }

      .page-header__navigation {
        display: flex;
      }

      .page-header__toggle {
        display: none;
      }
    }
  }

  &--opened {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 3;

    @media (max-width: $desktop-width) {
      .page-header__navigation {
        position: absolute;
        display: flex;
        height: 100%;
        z-index: 1;
      }

      .page-header__toggle {
        display: flex;
        background-color: inherit;
        background-image: url("../img/icon-close.svg");
      }
    }
  }

  &--closed {
    position: relative;

    @media (max-width: $desktop-width) {
      .page-header__navigation {
        display: none;
      }

      .page-header__toggle {
        background-color: $basic-turquoise;
        background-image: url("../img/icon-burger.svg");
      }
    }
  }
}

.page-header__inner {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 auto;
  width: 900px;


  @media (max-width: $desktop-width) {
    width: 100%;
    height: 100%;
    order: 2;
  }
}

.page-header__toggle {
  display: none;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  border: none;
  background-color: $basic-turquoise;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  &--open {
    background-color: inherit;
    background-image: url("../img/icon-close.svg");
  }
}

.page-header__navigation {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $desktop-width) {
    display: none;
    width: 100%;
    height: 100%;
    background-color: $basic-white;
  }
}

.page-header__description {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 50%;
  min-height: 340px;
  padding-left: 10px;
  color: $basic-white;

  @media (max-width: $desktop-width) {
    width: 100%;
    padding-top: 25px;
    padding-left: 0;
    margin-bottom: 70px;
    background-image: url("../img/header-bg-tablet@1x.webp");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header-bg-tablet@2x.webp");
    }
  }

  @media (max-width: $tablet-width) {
    align-content: flex-start;
    min-height: 390px;
    background-color: rgba(28, 28, 28, 1);
    background-image: url("../img/header-bg-mobile@1x.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header-bg-mobile@2x.webp");
    }
  }
}

.page-header__description a {
  font-size: 0;
  cursor: text;
}

.page-header__description svg {
  width: 67px;
  height: 20px;
  margin-left: 0;
  margin-bottom: 28px;

  @media (max-width: $desktop-width) {
    margin-left: 23px;
  }

  @media (max-width: $tablet-width) {
    width: 70px;
    margin-left: 16px;
  }
}

.page-header__description h2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;

  @media (max-width: $desktop-width) {
    justify-content: center;
    width: 100%;
    margin-top: 7.6%;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 18px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 13.6%;
    text-align: center;
  }
}

.page-header__description p {
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  mix-blend-mode: normal;
  opacity: 0.8;

  @media (max-width: $desktop-width) {
    max-width: 435px;
    margin: 0 auto;
    padding-left: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }
}

.page-header__form {
  display: flex;
  flex-wrap: wrap;
  padding-left: 113px;
  padding-right: 10px;

  @media (max-width: $desktop-width) {
    padding: 0;
  }
}
