.promo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  min-height: 706px;
  margin-bottom: 150px;
  padding-top: 95px;
  background-image: linear-gradient($basic-black-2 87.9%, $basic-white 12.1%);

  @media (max-width: $desktop-width) {
    min-height: 413px;
    padding-top: 50px;
    background-image: linear-gradient($basic-black-2 83%, $basic-white 17%);
  }

  @media (max-width: $tablet-width) {
    min-height: 384px;
    margin-bottom: 100px;
    padding-top: 64px;
    background-image: linear-gradient($basic-black-2 88.8%, $basic-white 12.2%);
  }
}

.promo h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-left: -5px;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $basic-white;

  @media (max-width: $desktop-width) {
    margin-left: 0;
    font-size: 24px;
  }

  @media (max-width: $tablet-width) {
    margin-left: -8px;
    margin-bottom: 20px;
  }
}

.promo p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 340px;
  margin: 0 auto;
  margin-bottom: 57px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $basic-white;
  opacity: 0.7;

  @media (max-width: $desktop-width) {
    width: 430px;
    margin-bottom: 42px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 54px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.promo__player {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;


  & .promo__button {
    position: absolute;
    content: "";
    top: calc(50% - 32.5px);
    left: 50%;
    width: 65px;
    height: 65px;
    background-color: transparent;
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-50%);
    border: none;
    outline: none;
    cursor: pointer;

    @media (max-width: $desktop-width) {
      top: calc(50% - 45px);
      width: 90px;
      height: 90px;
    }

    @media (max-width: $tablet-width) {
      top: calc(50% - 32.5px);
      width: 65px;
      height: 65px;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.promo img {
  display: flex;
  flex-wrap: wrap;
  width: 929px;
  height: 522px;

  @media (max-width: $desktop-width) {

    width: 503px;
    height: 282px;
  }

  @media (max-width: $tablet-width) {

    width: 288px;
    height: 161px;
  }
}
