// colors
$basic-white: #ffffff;
$basic-black: #000000;
$basic-black-2:#131314;
$basic-darck: #1c1c1c;
$basic-darck-2: #1f1f1f;
$basic-turquoise: #0ad9c6;
$light-blue: #f6f7f9;
$basic-grey: #48494d;
$light-grey: #f6f6f6;
$light-grey-2: #c9ccd4;


// fonts
$primary-font: "Open Sans", "Arial", sans-serif;

// Viewports
$mobile-width: 319px;
$tablet-width: 767px;
$desktop-width: 1023px;
