// colors
$basic-white: #ffffff;
$basic-black: #000000;

// fonts
$primary-font: "Open Sans", "Arial", sans-serif;

// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-width: 1366px;
